<section class="container">
  <div class="container-heading">
    <h2>Register</h2>
  </div>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onFormSubmit()"
    class="form-container"
  >
    <div class="form-group">
      <label for="register-username">Username</label>
      <input
        id="register-username"
        type="text"
        class="form-control"
        autocomplete="off"
        formControlName="username"
      />
      <p
        *ngIf="
          registerForm.controls.username.invalid &&
          registerForm.controls.username.touched
        "
        class="form-error"
      >
        Invalid Username
      </p>
    </div>
    <div class="form-group">
      <label for="register-email">Email</label>
      <input
        id="register-email"
        type="text"
        class="form-control"
        autocomplete="off"
        formControlName="email"
      />
      <p
        *ngIf="
          registerForm.controls.email.invalid &&
          registerForm.controls.email.touched
        "
        class="form-error"
      >
        Invalid Email
      </p>
    </div>
    <div class="form-group">
      <label for="register-password">Password</label>
      <input
        id="register-password"
        type="password"
        class="form-control"
        autocomplete="off"
        formControlName="password"
      />
      <p
        *ngIf="
          registerForm.controls.password.invalid &&
          registerForm.controls.password.touched
        "
        class="form-error"
      >
        Invalid Password
      </p>
    </div>
    <div class="form-group">
      <label for="register-confirm-password">Confirm Password</label>
      <input
        id="register-confirm-password"
        type="password"
        class="form-control"
        autocomplete="off"
        formControlName="confirmPassword"
      />
      <p class="form-error" *ngIf="registerForm.errors?.passwordMismatch">
        Password must match
      </p>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</section>
