<div
  class="post"
  [ngClass]="{ 'post-hover': isHoverShadow }"
  (click)="onPostClick()"
>
  <div class="post-heading">
    <h3>{{ post.title }}</h3>
    <span
      class="likes-display"
      [ngClass]="
        currentUser._id === post.author?._id && 'disabled-likes-display'
      "
    >
      <span (click)="onPostLike($event)">
        <i class="fa-solid fa-thumbs-up"></i>
        {{ post.likes }}
      </span>
      <span (click)="onPostDislike($event)">
        <i class="fa-solid fa-thumbs-down"></i>
        {{ post.dislikes }}
      </span>
    </span>
  </div>
  <div class="post-body">
    {{ post.body }}
  </div>
  <div class="post-footer">
    <span>
      <i class="fa fa-user-circle"></i> {{ post?.author?.username }} on
      <span>{{ post.createdAt | date }}</span>
    </span>
    <div class="comments">
      <ng-container *ngIf="isEditAllowed">
        <span class="edit-link" (click)="onPostEdit($event)">
          Edit <i class="fa-solid fa-pen-to-square"></i>
        </span>
        <span class="delete-link">
          Delete <i class="fa-solid fa-trash-can"></i>
        </span>
      </ng-container>
      <span>Comments: {{ post.comments.length }}</span>
    </div>
  </div>
</div>
